{% extends "base.html" %}

{% block content %}
<head>
  <h1 class="title">
    Submit Order
  </h1>
  <style>
  {
      box-sizing: border-box;
  }
  /* Set additional styling options for the columns*/
  .column {
  float: left;
  width: 50%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  </style>
</head>
<body>
  <div class="row">
    <div class="column">
      <form action="/inventory" method="POST">
        <span>Qty: </span>
        <input type="text" name="quantity", placeholder="10", size="2">
        <style type="text/css">
        select {
            width:400px;
        }
        </style>
        <select name="product">
            <option value="">--Please choose an option--</option>
            {% for product in products %}
            <option value="{{ product }}">{{ product }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit" value="Add">
      </form>
    </div>
    <div class="column">
      hello
    </div>
  </div>
</body>

{% endblock %}
